/* style.css 파일은 다른 css파일을 추가하는 파일로 썼음 */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Open+Sans:wght@400;600&family=Roboto:wght@300;400;700&family=Signika+Negative&display=swap');

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/notice.css";
@import "components/icon-row.css";
@import "components/no-mobile.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

/* styles.css 파일에는 font-family 와 같이 모든 스크린에 적용될 수 있는 스타일 써놓기. 취향임 */
body{
    font-family: 'Open Sans', sans-serif;
    height: 200vh;

} 
.main-screen{
    padding: 0px var(--horizontal-space);
}
